/* General Section
--------------------------------*/
body{
    font-family: 'Cinzel', serif;
}

.spacer100 {
    margin-top: 100px;
	margin-bottom: 100px;
}

.jumbotron {
    background-image: url(../img/headerflag.png);
    background-color: #B60000;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: black 6px solid;
  }

  .about-custom-image-size{
    height: 400px;
    width: 100%;
    /* object-fit: cover; */
    border-top: 6px black solid;
    border-bottom: 6px black solid;
    border-right: 6px black solid;
    border-left: 6px black solid;
	/* border-radius: 50px; */
}
.navbar-custom {
    background-color: #B60000;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* Cart section */
.cart-section {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-gap: 30px;  
    margin: 60px auto;  
  }
    
  .cart-section h2 {  
    margin-bottom: 30px;
  }
  
  .cart-section .cart-table-row {  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;  
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #919191; 
    padding: 14px 0;
  }
  
  .cart-section .cart-table-row:last-child {
    border-bottom: 1px solid #919191;
  }
  
  .cart-section .cart-table-row .cart-table-row-left,
  .cart-section .cart-table-row .cart-table-row-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .cart-section .cart-table-row .cart-table-row-left {
    width: 50%;
  }
  
  .cart-section .cart-table-row .cart-table-row-right {
    width: 33%;
    padding-top: 10px;
  }
  
  .cart-section .cart-table-row .cart-table-img {
    max-height: 75px;
  }
  
  .cart-section .cart-table-row .cart-table-actions {
    text-align: right;
    font-size: 14px;
  }
  
  .cart-section .cart-table-row .cart-item-details {
    padding-top: 5px;
  }
  
  .cart-section .cart-table-row .cart-table-description {
    color: #919191;
  }
  
  .cart-section .cart-table-row .cart-options {
    color: #212121;
    background: transparent;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
  }
  
  .cart-section .cart-table-row .cart-options:hover {
    color: #6e6d6d;
  }
  
  .cart-section .cart-totals {
    margin: 30px 0;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #F5F5F5;
  }
  
  .cart-section .cart-totals .cart-totals-left {
    width: 50%;
  }
  
  .cart-section .cart-totals .cart-totals-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 35%;
    text-align: right;
  }
  
  .cart-section .cart-totals .cart-totals-total {
    font-weight: bold;
    font-size: 22px;
    line-height: 2;
  }
  
  .cart-section .cart-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .cart-section .have-code {
    display: block;
    margin: 14px 0;
    text-align: right;
  }
  
  .cart-section .have-code-container {
    border: 1px solid #919191;
    padding: 16px;
    width: 50%;
    margin-left: auto;
  }
  
  .cart-section .have-code-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .cart-section .have-code-container input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
  }
  
  .cart-section .have-code-container input[type="submit"] {
    background: white;
    border: 1px solid #919191;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .cart-section .have-code-container input[type="submit"]:hover {
    background: #212121;
  }


/* Checkout section */
.checkout-img 
{
  max-height: 75px;
}

/**
stripe css
 */

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}